dt{
float:left;
clear:left;
font-weight: bold;
margin-bottom:0;
color: darkred;
}
dd{
border: 1px ridge gold;
margin: 0 0 0.5rem 0;
text-align: justify;
text-indent: 0.5rem;
}
dt:after {
  content: ":";
  background-color: red;
}
p {
text-align: justify;
}
#titulo_receta {
    font-size:2.8rem;
    color: orange;
    text-align: center;
    padding: 1rem 0 1rem 0;
}
#ingredientes{
    padding: .5rem;
    background-color: orange;
}
#glosario{
    padding:0.5rem 0 0.5rem 0;
    background-color: lightblue;
}
#platoTerminado{
  margin-bottom: 1rem;
}
.titulo{
  background-color: darkred;
  border:1px dashed gold;
  margin-top: 1rem;
}
.p-1{
    padding: 1rem;
}
.my-1{
    margin: 1rem 0 1rem 0;
}
.my-2{
margin: 2rem 0 2rem 0;
}
.pt-1{
    padding-top: 1rem;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
/*
.envoltura{
  padding: 1rem;
  border-radius: 3rem;
  border: 2px solid darkred;
  background-color: yellow;
}*
